header{
   position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 20rem;
    padding: 0;
    background-color: black;  /*temp*/
    color: white;                /*temp*/
}
header img{
    width: 10rem;
    height: auto;
}
header nav li{
    display: inline;
    margin: 0 1rem;
}
main{
    padding-top: 10rem;
}
.logo-section img{
    width: 10rem;
    height: auto;
}
.hero-content{
    display: flex;
}